<div class="media-filter">
     <div class="image-filter" [class.active]="activeTab === 'images'" (click)="setTab('images')">
          Imágenes
     </div>

     <div class="video-filter" [class.active]="activeTab === 'videos'" (click)="setTab('videos')">
          Videos
     </div>
</div>
<app-spinner *ngIf="isLoading"
             src="https://firebasestorage.googleapis.com/v0/b/sufiando.firebasestorage.app/o/images%2F1755031017641_a0908967776_2.jpg?alt=media&token=fda53b4a-c591-4c75-bd8a-65318dfe4031"
             [size]="84"
             speed="normal"
             [overlay]="true">
</app-spinner>
<!-- Imágenes -->
<div class="image-gallery" *ngIf="activeTab === 'images'">
     <div class="gallery-grid">
          <div *ngFor="let img of images" class="gallery-item" [ngStyle]="img.style"
               [style.background-image]="'url(' + img.url + ')'">
          </div>
     </div>
</div>
<div *ngIf="activeTab === 'videos'">
     <div class="video-filter">
          <div class="video-clip" [class.active]="activeVideoTab === 'clips'" (click)="setVideoTab('clips')">Clips</div>
          <div class="video-live" [class.active]="activeVideoTab === 'vivos'" (click)="setVideoTab('vivos')">Vivo</div>
     </div>

     <!-- Clips -->
     <div class="video-gallery" *ngIf="activeVideoTab === 'clips'">
          <div *ngFor="let clip of clips" class="video-wrapper">
               <iframe [src]="clip | youtubeEmbed" frameborder="0" width="560" height="315" title="Sur fiando vivo"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
               </iframe>
          </div>
     </div>

     <!-- Vivos -->
     <div class="video-gallery" *ngIf="activeVideoTab === 'vivos'">
          <div *ngFor="let vivo of vivos" class="video-wrapper">
               <iframe [src]="vivo | youtubeEmbed" frameborder="0" width="560" height="315" title="Sur fiando vivo"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
               </iframe>
          </div>
     </div>
</div>